*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
  font-size: 62.5%;

}
h1{
  color :aliceblue;
  text-align: center;
  font-size: 4rem;
}
.note-form{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 2rem;
  gap: .5rem;
  margin: 3rem;
}
.main-topic{
  font-size: 2.4rem;
  padding: .5rem;
}
.sub-topic{
  font-size: 2.4rem;
  padding: .5rem;
}
textarea{
  resize: none;
  height: 15rem;
  padding: .5rem;
}
button{
  font-weight: 600;

}

.showBtn{
  position: absolute;
  bottom: 2rem;
  right: 1em;
  border-radius: 1rem;
  border-style: none;
  padding: 0.5rem;
  background: orangered;
}

input{
  border-radius: 1em;
  padding: 0.5em;
  border-style: none;
  text-align: center;
}
